header {
  background-color: #111;
  width: 100%;
  height: 100px;
}
.page-wrap {
  padding: 2rem 0;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header .top-bar li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-bar li a {
  padding: 0.25rem 1rem;
  color: #fff;
}
header .top-bar li:first-child a {
  padding-left: 0;
}
header .top-bar li:last-child a {
  padding-right: 0;
}
header .top-bar #menu-item-21 .user-img {
  padding-left: 1rem;
}
header .top-bar #menu-item-21 .user-img .img img {
  width: 40px;
}
header .top-bar #menu-item-21 .user-img .name {
  color: #fff;
}

header .btn-dropdow {
  background-color: black;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
}
header .btn-dropdow:focus {
  outline: 0;
}

header .dropdown-toggle-btn::after {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-left: 0.255em; */
  /* vertical-align: 0.255em; */
  content: "";
  border-top: 0.3em solid white;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
header #dropdow-nav {
  display: none;
  position: relative;
}
header .dropdow-nav {
  background-color: white;
  width: 10rem;
  position: absolute;
  top: 1rem;
  right: -9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
}
header .dropdow-nav a {
  padding: 0 !important;
}
header .dropdow-nav .nav-cral {
  margin: 0.1rem 0;
  padding: 0.2rem 0.3rem !important;
  width: 90%;
  /* border: 1px solid gray; */
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(246, 246, 246);
  color: black;
}
header .nav-cral:focus {
  outline: 0;
}
header .nav-cral:hover {
  background-color: rgb(211, 207, 207);
}

.delete:focus {
  outline: none;
}
.h6 {
  text-decoration: line-through;
}

.input-todo {
  outline: none;
}
